{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>About - Green Future</title>
    <link rel="stylesheet" href="{% static 'volunteer/style.css' %}">
</head>


<body>

<nav>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/register/">Register</a>
</nav>


<div class="container">

<h1>About SDG 13: Climate Action 🌍</h1>

<p>
Green Future Initiative promotes awareness about climate change
and encourages people to participate in environmental activities.
</p>

<p>
Our goal is to create a cleaner and healthier planet through
community involvement.
</p>

</div>


</body>

</html>