<!DOCTYPE html>
<html>
<head>

     {% load static %}

     <link rel="stylesheet" href="{% static 'volunteer/style.css' %}">

     

     <title>Green Future Initiative</title>
</head>

<body>


<nav>

<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/register/">Register</a>

</nav>



<div class="container">


<section class="hero">

<h1>
Welcome to Green Future Initiative 🌱
</h1>


<p>
Together we protect our planet through climate action.
</p>




<a href="/register/">

<button>
Join Our Campaign
</button>

</a>


</section>



<div class="cards">


<div class="card">

<img src="{% static 'volunteer/image/tree.jpg' %}" width="200">

<h2>🌳 Tree Planting</h2>

<p>
Help restore nature by planting trees.
</p>

</div>



<div class="card">

<img src="{% static 'volunteer/image/recycle.jpg' %}" width="200">

<h2>♻ Recycling</h2>

<p>
Reduce waste and protect the environment.
</p>

</div>



<div class="card">

<img src="{% static 'volunteer/image/climate.jpg' %}" width="200">

<h2>🌍 Climate Awareness</h2>

<p>
Learn and spread climate knowledge.
</p>

</div>


</div>

</div>



<footer>

<p>
Green Future Initiative | SDG 13 Climate Action | Minothini 2410-2265
</p>

</footer>


</body>
</html>